/* #localVideo{
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
} */

#peerVideo{
	width:480px;height:320px;
	position: relative;
	/* -webkit-transform: scaleX(-1);
	transform: scaleX(-1); */
}

#overlay{
		top: 0;
		width:480px;height:320px;position: absolute;z-index: 10;
}
.lpDiv{
	display:inline-flex ;
}

 @media (max-width: 1000x) { 
	#vidDiv{
		display: grid !important;	
	}
 }
 /*
@media (min-width: 768px) { 
	#overlay{
		right: 279px;
		
	}
 }
 @media (min-width: 992px) { 
	 #overlay{
	right: 35px;

} } */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.navbar-header {
	margin-bottom: 15px;
    float: left;
	padding: 15px;
	width: 100%;
}
.navbar-brand {
    text-align: center;
    width: 100%;}

button{
	color:#fff;
}
#text {
	font-family: 'Oswald', sans-serif;
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#htext {
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-size: 47px;
	line-height: 40px;
}

#txtWrapper {
	left: 0px;
	top: -100px;
	height: calc(100vh + 100px);
	overflow: hidden;
	position: relative;
}

#animate {
	margin: 0 auto;
	width: 20px;
	overflow: visible;
	position: relative;
}

#all {
	overflow: hidden;
	height: 100vh;
	width: 100%;
	position: fixed;
}

.loader-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
}


 .btn-size{
	padding: 20px;
    height: 120px;
 }

 .navText{
	margin-inline: auto;
 }